<div align="center">
    <h2>Reset Password</h2>
    <p>Use this link to verify your email: {{ verifyUrl }}/api/reset-password/{{ token }}</p>

    <p>If you did not make this request you do not have to do anything or contact us incase your account may have been compromised</p>
</div>